# Arquivos do Terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/providers/registry.terraform.io
terraform/plan.tfout

terraform/files
.terraform

# Variáveis sensíveis
terraform/testing.tfvars

# Arquivos não prontos

venv

lambda/layer

lambda/python_files

python/

python_files