# Arquivos do Terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/providers/registry.terraform.io
terraform/plan.tfout

# Variáveis sensíveis
terraform/testing.tfvars

# Arquivos não prontos

lambda/layers/layers

python/

python_files

web